/* This is the CSS file to handle the case when the order page will be printed out */
@media print {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  * {
    box-sizing: border-box;
  }
  #header,
  #orderedItems {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
  #container {
    float: none;
    width: 100%;
    max-width: 100%;
  }

  #ticketLabel, #hotelLabel, #diningLabel{
    display: none;
  }

  h2{
    display: none;
  }
}

  header{
  text-align: center;
}
